.gradle
.idea
Mobyv0.2.iml
gradle.properties
gradlew
gradlew.bat
local.properties
settings.gradle
android-support-multidex
bolts-android-1.2.1
build
captures
circleimageview
facebook
gradle
lib
libs
Parse-1.10.1
ParseFacebookUtilsV4-1.10.1
simplecropview
